.Messages-list {
    padding: 20px 0;
    max-width: 900px;
    height: 830px;
    width: 100%;
    margin: 0 auto;
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow-y:auto;
  }
  .Messages-message {
    display: flex;
    margin-top: 10px;
  }
  .Message-text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: cornflowerblue;
    color: white;
    display: inline-block;
  }